body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registro-container {
    display: flex;
    height: 100vh;
}

.imagen-container {
    flex: 1;
    overflow: hidden;
}

.imagen-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #083a02;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #073e63;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #073e63;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px; /* Ajustar el padding para un nav más grande */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container img {
    max-height: 60px; /* Ajustar el tamaño del logo según sea necesario */
}

.button-container a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px 15px; /* Ajustar el padding para botones más grandes */
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button-container a:hover {
    background-color: #333;
    color: white;
}

/* Añadir animación a los botones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-container a {
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: both;
}
